/**
	Font imports are placed in a separate stylesheet file just for the sake of keeping things clean.
 */

/**
	https://fontsource.org/fonts/inter
 */
@import '@fontsource/inter/100.css';
@import '@fontsource/inter/200.css';
@import '@fontsource/inter/300.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';
@import '@fontsource/inter/800.css';
@import '@fontsource/inter/900.css';

/**
	https://fontsource.org/fonts/fira-code
 */
@import '@fontsource/fira-code/300.css';
@import '@fontsource/fira-code/400.css';
@import '@fontsource/fira-code/500.css';
@import '@fontsource/fira-code/600.css';
@import '@fontsource/fira-code/700.css';

/**
	https://fontsource.org/fonts/josefin-sans
 */
@import "@fontsource/josefin-sans/700.css";
