<!DOCTYPE html>
<html lang="en" dir="ltr" class="www">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>go.super.fish</title>
        <setup/>
        <asset src="app.ts"/>
        <asset src="app.css"/>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
