@model SpaViewModel;
@{
    ViewData["ClientJs"]  = Model.ClientJs;
    ViewData["ClientCss"] = Model.ClientCss;
    ViewData["CsrfToken"] = Model.CsrfToken;
    ViewData["User"]      = Model.User;
}

<main id="app">
    <noscript>
        <h1>Please enable JavaScript to experience this website.</h1>
    </noscript>
</main>
