/**
	Font imports are placed in a separate stylesheet file just for the sake of keeping things clean.
 */

/**
	https://fontsource.org/fonts/inter
 */
@import '@fontsource-variable/inter';

/**
	https://fontsource.org/fonts/fira-code
 */
@import '@fontsource-variable/fira-code';

/**
	https://fontsource.org/fonts/josefin-sans
 */
@import '@fontsource-variable/josefin-sans';
